<div class ="landingPage container">
    <!-- <div class="animatedText">
        <h2>THIS IS ANOTHER DIV :) !</h2>
    </div> -->
              
    

    <div class = "starsbg">
            #stars
            #stars2
            #stars3
            #title
              %span
                PURE CSS
              %br
              %span
                PARALLAX PIXEL STARS
    

    </div> <!-- End stars bg -->


<!-- 

     <div class = "systemAnimation"> 
        
        <h2 class = "theBanner">MEAN STACK</h2>

            
        <div>
                <h2 class ="typed typefirst">M ongoDB</h2> 
                <h2 class ="typed typesecond">E xpress.js</h2>
                <h2 class ="typed typethird">A ngular6</h2>
                <h2 class ="typed typefourth">N ode.js</h2>
        </div>  




    </div>end systemAnimation 

-->



                    <!-- <h2 a routerlink = >Welcome to my site</h2> -->  
            
  </div>  <!-- end landingPage -->

 
