<div class ="landingPage container">
    <!-- <div class="animatedText">
        <h2>THIS IS ANOTHER DIV :) !</h2>
    </div> -->
              
    

    <div class = "starsbg">
            <div class="stars"></div>
            <div class="twinkling"></div>
            <div class="starsbgtext">
                <h1>Giannini Charles, Web Developer</h1>
                <h2>--Portfolio Website Demonstration--</h2>





            </div>
    </div> <!-- End stars bg -->


 

     <div class = "systemAnimation"> 
        <div class ="theBanner">
            <h2>MEAN STACK</h2> 
        </div>
        <div>
            <h2 class ="typed typefirst">M ongoDB</h2> 
            <h2 class ="typed typesecond">E xpress.js</h2>
            <h2 class ="typed typethird">A ngular 6</h2>
            <h2 class ="typed typefourth">N ode.js</h2>
        </div>  
    </div>



    <a class="myBtn" routerLink="/home">Enter</a>



                    <!-- <h2 a routerlink = >Welcome to my site</h2> -->  
            
  </div>  <!-- end landingPage -->

 
